<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="mensaje" value="hola mundo desde app.config"/>
	</appSettings>
	<connectionStrings>
		<add name="defaultConnection" connectionString="Data Source=Willy-HP;Initial Catalog=Pacs1P;Integrated Security=True;"/>
	</connectionStrings>
</configuration>